{% extends "base.html" %}

{% block app_header %}
<link rel="stylesheet" href="/../static/css/main.css">
{% endblock %}

{% block app_body %}
<h1>Background and Methodology</h1>
<p>It is commonly accepted that the initiation of energetic materials occurs through energy localization near material heterogeneities. While initiation can stem from a variety of energy input mechanisms (impact, friction, etc.), under shock loading it is believed temperature spikes formed in the vicinity of microscopic collapsing pore spaces in the material play a crucial role in the initiation process.</p>

<p>We simulated the shock loading of thousands of realistic pore shapes retrieved from the microstructure of an unspecified explosive using the hydrocode CTH. In the simulations, shock loading was applied via material contact with an incoming flyer plate. For each pore shape the flyer plate velocity is adjusted until a critical threshold velocity is calculated such that criticality is just achieved within an error of 1 m/s.</p>

<p>The resulting critical threshold velocities were used as annotations to train machine learned models. With the machine learned models acting as surrogates to the hydrocode simulations, arbitrary pore shapes can be examined to gain insight as to how geometric features relate to shock sensitivity.</p>

<p>Further information about the material microstructure, CTH simulations, and machine learned models is provided in the following sections.</p>

<h2>Extracting Void Shapes</h2>
<p>In order to examine realistic pore geometries, high resolution images of a single pressed pellet of explosive were obtained via scanning electron microscopy (SEM). The pellet was pressed to a nominal density of 94% theoretical maximum density (TMD) and sectioned with a Hitachi IM 4000Plus argon ion-milling system. The pellet surface was further polished and the images collected with as ZEISS Crossbeam 340 focused ion beam scanning electron microscope (FIB-SEM). The resulting image resolution was 9.77 nm per pixel.
</p>
<p>
Images were analyzed in a Python environment. First, the void space and material were distinguished within the image using a modified Otsu's threshold technique<sup> <a href="#r1">1</a> </sup> based on the grayscale intensities to produce a binary image. An example SEM image and its binary representation are provided in Figure 1. From the binarized image, individual void regions were identified using the scikit-image package and the void contours were extracted using the OpenCV library. </p>

<figure>
  <img src="{{ url_for('static', filename='imgs/example_sem.svg') }}" alt="Example Microstructure">
  <figcaption>Fig. 1: a) An image of a sectioned and polished surface of a single pressed explosive sample acquired via FIB-SEM. b) The binarized representation of image shown in a). White indicates HMX and black is void space.</figcaption>
</figure>

<p>The geometric properties of aspect ratio, solidity, and circularity were calculated for each void. The aspect ratio is determined by identifying the minimum area rectangle (or bounding box) which fully encompasses the void space and dividing the length of the larger side of said rectangle by the length of the smaller side. Circularity is defined as the ratio of the perimeter of the void space to the perimeter of a circle with equivalent area. Solidity is defined as the ratio of the area of the void to the area of the bounding box.
</p>
<p>Using these properties the voids were separated into two categories; namely, "pore shapes" and "crack networks". A void was classified as a pore shape if its aspect ratio was less than 7.0, its solidity was greater than 0.3, and its circularity was greater than or equal to 0.65; otherwise, the void was categorized as a crack. For this work, we only analyzed voids deemed pore shapes and did not consider crack networks. Using the aforementioned metrics, 55 FIB-SEM acquired images were parsed resulting in 179,207 pore shapes. </p>

<h3>Removing the Effect of Size</h3>

<p>It is well known that the pore size is heavily related to shock sensitivity. To remove the effect of size &mdash; and focus on pore shape &mdash; the pore contours and ellipse structures are scaled to same internal area.</p>

<p>
Here, we choose to reference a specified area by noting the diameter of a circle with equal area. For example, rather than state that the pore shapes were "normalized to an area of 70,685.83 nm<sup>2</sup>" (&pi;(300/2)<sup>2</sup>), we simply say that the pore shapes were "normalized to an equivalent circular diameter of 300 nm" (or just "equivalent diameter"). Herein, the extracted realistic pore shapes and the simple pore ellipses are scaled to equivalent diameters of 150 nm and 300 nm constituting two different data sets aptly named the "150 nm data set" and the "300 nm data set", respectively.
</p>

<p>To maintain consistency, each pore has been shifted such that its centroid is coincident with the underlying coordinate system. Furthermore, we reference the pore orientation as the angle of the longer side of the bounding box with respect to the positive x-axis measured counter-clockwise.</p>

<h2>CTH</h2>
<p>Armed with the contours of thousands of realistic pore geometries and simple ellipses, we shift to determining if a pore shape will contribute and sustain an incoming shock wave upon collapse. We simulate the pore collapse using the hydrocode CTH (version 12.0) developed by Sandia National Laboratory.</p>

<p>Each simulation consists of a rectangular slab of explosive containing a single, empty pore structure. The slab domain has a width and height of 10 &mu;m and 5 &mu;m, respectively, with a mesh resolution of 5 nm.  After proper scaling, the pore structure is inserted into the explosive material. The centroid of the pore is placed 2.5 &mu;m into the explosive slab measured from the bottom and left edges.</p>

<p>The explosive material is modeled using distinct equations of state (EOS) for the unreacted material and the reaction products. The unreacted material uses a tabular EOS corresponding to published experimental data and also accounts for the temperature dependence of the heat capacity and the pressure dependence of the melt temperature. The reaction product EOS is defined with the Jones-Wilkins-Lee (JWL) formula. The reaction progress follows an Arrhenius reactive burn model.</p>

<p>In the simulation the explosive material is considered perfectly plastic with a yield strength of 0.37 GPa and Poisson's ratio of 0.20.</p>

<p>The shock loading is applied by specifying the velocity of an incoming flyer plate composed of inert explosive. The flyer plate has a width and height of 5 &mu;m and impacts the explosive slab from the left. The simulation is stopped after a fixed time period of 2 ns after the flyer plate contacts the explosive slab.</p>

<p>In coupled thermal and mechanical hydrocode simulations it has been observed that the thermal conductivity calculation can lead to vanishingly small Courant time steps near the pore structure prior to complete collapse. To implement a thermal diffusion model while avoiding numerical instabilities, conduction is not considered until 0.91 ns into the simulation to ensure the pore has fully collapsed. A constant thermal conductivity of 3.62975 (W/(m K)) is applied to the explosive up to a temperature of 1160 K, after which it is assumed to go to zero.   </p>

<p>During the simulation the spatial field variables of temperature, reacted mass, and pressure are tracked. The evolution of the temperature field surrounding a pore is displayed in Figure 2. In particular, the reacted mass field is used to determine whether the pore reached "criticality", as explained in the following section.</p>

<figure>
  <img src="{{ url_for('static', filename='imgs/cth_example.svg') }}" alt="CTH Simulation Example">
  <figcaption>Fig. 2: Example of the time evolution of the temperature field for a pore collapse simulation in CTH. The incoming flyer plate velocity was 2528 m/s. Equivalent circular diameter: 150 nm. Explicit pore id number: 106028.</figcaption>
</figure>

<h2>Criticality</h2>

<p>At the end of the simulation period the reacted mass field variable is integrated over the domain to calculate the total reacted mass. If the total reacted mass exceeds 1.343e-11 grams then we state that the hot spot will progress into a thermal run-away scenario (critical condition), otherwise the reaction is quenched due to the heat transfer away from the heated material overcoming the heat generation due to the chemical reaction (sub-critical). The reacted mass threshold was chosen to correspond to the mass of a critical hot spot with an equivalent diameter of 30 nm using the methodology of Tarver et. al.<sup><a href="#r2">2</a></sup> for the determination of a critical hot spot.</p>

<p>The initial flyer plate velocity is adjusted using an adaptive binary search algorithm until criticality is achieved within 1 m/s of a sub-critical result. Thus, the outcome of the entire simulation process is reduced to a single threshold velocity which corresponds to the minimum required velocity of the incoming flyer necessary for the pore to reach a critical state. </p>

<h3>Data Sets</h3>

<p>On average, a single pore collapse simulation takes 6.35 minutes to run using 320 Intel Xeon E5-2698 v3 processors. The binary search algorithm typically required 10 simulations to determine the critical threshold velocity with 1 m/s uncertainty. Therefore, approximately 338.6 compute-hours are consumed to assign a critical threshold velocity for a single pore. </p>

<p>Although we extracted 179,207 pore shapes, it is computationally prohibitive to simulate all of them in CTH; nor is it likely necessary to simulate all pores to adequately fit machine-learned surrogate models. As mentioned, the pore collapse simulations were performed at two equivalent circular diameters creating two sets of data.</p>

<p>The first data set consists of 6,258 pore shapes scaled to an equivalent diameter of 150 nm. The pores were selected at random so long as they were resolved by at least 25 pixels. The second set is comprised of pore shapes scaled to 300 nm equivalent diameter. Any pore resolved by at least 100 pixels in the 150 nm data set (1,452 pores) is also contained in the 300 nm data set. The remaining pores in the 300 nm data set were randomly selected as long as they were resolved by 100 pixels. There are a total of 6,152 pores in the 300 nm data set. Again, we note that the set of ellipses were also scaled to equivalent diameters of 150 nm and 300 nm for direct comparison with the realistic pores data sets. </p>

<div class="clearfix">
<a href="{{ url_for('data') }}">  <button type="button" class='forward btn btn-outline-dark'>Data Representation &#8594; </button></a></div>

<h2>References</h2>
<div class="references">
<ol>
  <li id='r1'>N. Otsu, "A threshold selection method from gray-level histograms,"" IEEE transactions on systems, man, and cybernetics 9, 62–66 (1979).</li>
  <li id='r2'>C. M. Tarver, S. K. Chidester,  and A. L. Nichols, "Critical conditions forimpact-and  shock-induced  hot  spots  in  solid  explosives,"  The  Journal  ofPhysical Chemistry 100, 5794–5799 (1996).</li>
</ol>
</div>

{% endblock %}
