{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='imgs/se_ico.ico') }}" type="favicon/ico">
{% block app_header %}{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% block app_scripts %}{% endblock %}
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% else %}Shape Effects{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
          <a class="navbar-brand" href="{{ url_for('index') }}"><img class = "navbar-brand" src="../static/imgs/long-logo-white.svg" alt="Home"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('background') }}">Background</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('models') }}">Models</a></li>
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link disabled" href="{{ url_for('explore') }}">Full Features</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('explore') }}">Full Features</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('user_login') }}" class="login">Login</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('user_logout') }}" class="login">Logout</a>
                {% endif %}
                </li>
            </ul>
          </div>
    </nav>
{% endblock %}

{% block content %}
    <div style="padding-top: 1em;" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_body %}{% endblock %}
    </div>
{% endblock %}
