{% extends "base.html" %}

{% block app_header %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@latest/dist/chartjs-plugin-dragdata.min.js"></script>
<link rel="stylesheet" href="/../static/css/main.css">
{% endblock %}

{% block app_scripts %}
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/charting.js') }}"></script>
{% endblock %}

{% block app_body %}
  <h2>Effect of Pore Morphology on Shock Sensitivity</h2>
  <p>We simulated the shock loading of thousands of realistic pore shapes retrieved from the microstructure of an unspecified explosive using the hydrocode CTH.</p>

  <p>The resulting critical threshold velocities were used as annotations to train machine learned models.</p>

  <p>The following tool allows users to explore pore geometries, perturb their contours, and view the model predictions for critical threshold velocities. The models implemented are Random Forest (RF), Extreme Gradient Boosting (XGB), Gaussian Process (GP), and Convolutional Neural Network (CNN).</p>

  <div id="info" class="alert alert-info"><i><b>Note</b>, the full set of pore geometries and the precise prediction values are only accessible through the <a href="/explore">Full Features</a> page to users with provided credentials.</i></div>

  <!-- <div style="margin: 0em 5em"> -->
  <div class="row">
    <div class="col-md-2 col-12" style="padding-top: 1em;">
      <div class="form-group">

          <b class="flabel">Pore Size</b>
          <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sizeselect" id="inlineRadio1" value="150" disabled>
  <label class="form-check-label" for="inlineRadio1">150nm</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sizeselect" id="inlineRadio2" value="300" checked="checked">
  <label class="form-check-label" for="inlineRadio2">300nm</label>
</div>
<label for="poreID" class="flabel"><b>Pore ID</b></label>
    <input type="text" class="form-control subpad" id="poreID" placeholder="1-6152" value="3" disabled>
<button id="fetch" type="button" class="btn btn-block btn-outline-primary" disabled>Fetch Pore</button>

          <label for="nHarm" class="flabel"><b>Number of Harmonics</b></label>
              <input type="text" class="form-control subpad" id="nHarm" placeholder="1-511" value="511">
              <button id="b_filter" type="button" class="btn btn-block btn-outline-primary"><sup>&#8224;</sup>Filter Pore</button>

              <label for="rotation" class="flabel"><b>Rotate (deg)</b></label>
                  <input type="text" class="form-control subpad" id="rotation" placeholder="0" value="0">

      </div>
    </div>
    <div class="col-md-8 col-12">
      <canvas id="myChart" width="100" height="100">
      </canvas>

      <button type="button" class="btn btn-outline-dark" id="b_reset_pore" >Reset Shape</button>
      <button type="button" class="btn btn-outline-dark" id="b_reset_zoom" disabled>Reset Zoom</button>
      <button type="button" class="btn btn-outline-success" id="b_predict" style="float: right; font-weight: bold;">Predict</button>
      <button type="button" class="btn btn-outline-primary" id="b_rescale" style="float: right; margin-right: .2em;">Normalize</button>

      <button id='loadingModels' class="btn btn-outline-dark" style="width:100%; text-align: center; margin-top:10px;">
        <span class='spinner-border spinner-border-sm text-danger m-1' role='status'></span><span style="color:red;"> Loading models. Please wait to make predictions.</span>
      </button>

    </div>
    <div class="col-md-2 col-12" style="padding-top: 1em;">
      <b class="flabel">Critical Velocity (m/s)</b>
      <b class="flabel" style="text-decoration: underline">Predicted</b>
      <p>RF: <span id='rf'></span></p>
      <p>XGB: <span id='xgb'></span></p>
      <p>GP: <span id="gp"></span></p>
      <p>CNN: <span id="cnn"></span></p>
      <div>
      <b class="flabel"><sup>*</sup><span style="text-decoration: underline">Actual</span></b>
      <p><span id="actual"></span></p>
      </div>

    </div>
</div>
<p style="margin-top:1em;"> <small><sup>&#8224;</sup>Pore filtering cannot be reversed without resetting the shape. For example, filtering to just the first 10 harmonics and then hitting the filter pore button with 511 harmonics will not recover the original shape. Also, note that the filter will act on the pore shape as currently visualized such that it will continue to affect the shape if applied multiple times in a row.</small></p>
<p> <small><sup>*</sup>Velocity determined by the CTH simulation. Only applies to the original shape.</small></p>
{% endblock %}
